.countryListWrp{
 display: grid;
 grid-template-columns: 1fr 1fr;
 column-gap: 2vw;
 padding-bottom: 5vw;
 border-bottom: 1px solid var(--border-grey);
    p{
        text-align: center;
    }
}
.countryList{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-height: 187px;
    overflow: scroll;
    border: 1px solid var(--border-grey);
    box-shadow: inset 0px -6px 5px -5px #b7b7b7;
    li{
        padding:10px;
        cursor: pointer;
        flex: 7%;
        border: 1px solid var(--border-grey);
        transition: all 0.25s ease-in-out;
        &:hover{
            background: #cccccc;
        }
    }
}

.converterWrp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5vw;
    text-align: center;
    border: 1px solid var(--border-grey);
    border-radius: 3px;
    box-shadow: inset 0px 0px 6px var(--border-grey);
    .conversionValues{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            display: inline-block;
            width: 120px;
            height: 48px;
            line-height: 48px;
            background-color: #cccccc;
            margin: 0 10px;
        }
    }
    .conversionRes{
        width: 100%;
        margin:10px 0;
    }
}

@media only screen and (max-width: 810px){
    .converterWrp{
        .conversionValues{
            flex-wrap: wrap;
            width: 100%;
            span{
                margin: 0 5vw 5vw;
                width: 100%;
            }
        } 
        .conversionBtn{
            margin: 0 5vw 5vw;
            width: 100%;
        }
    }

}