//reset css
a, h1,h2,h3{
  margin:0;
  color:var(--main-font-color);
}
h2{
  margin:2vw 0;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
a:visited {
  color:var(--main-font-color);
}
.bold{
  font-weight: 600;
}
/*global*/
.centreWrp{
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 811px) {
    height: calc(100vh - (64px + 5vw + 35px));
  }
  @media only screen and (max-width: 810px) {
    height: calc(100vh - (102px + 5vw + 35px));
  }
}

/**header styling**/
.header{
  border-bottom: 1px solid var(--border-grey);
  padding: 12px 2vw ;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h1{
    font-weight: 900;
    font-size: 18px;
    margin: 0;
    flex:1 1 0px;
    span{
      display: block;
      color: var(--primary-color);
      font-size: 15px;
    }
  }
  nav{
    display:flex;
    justify-content: center;
  }
  .linkedin{
    flex:1 1 0px;
    text-align: right;
    img{
      width: 25px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 810px) {
  .header{
    flex-wrap: wrap ;
    nav{
      padding-top:5vw;
      order:3;
      width: 100%;
      justify-content: space-between;
    }
  }
}


.footerSection{
  background-color: var(--main-font-color);
  display: flex;
  justify-content: space-between;
  padding:10px 2vw;
  p{
    color: #fff;
    margin:0;
  }

}

//listing image
.list{
  display: grid;
  grid-template-rows: 1fr;
  margin: 0px 0px 10vw;
  padding: 0px;
  column-gap: 2.5vw;
  img{
    width:100%
  }
}

.list-5-col{
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 0.5vw;
  row-gap: 0.5vw;
  li{
    border:1px solid #212121;
    padding: 1vw;
  }
}

//buttonsBlock
.buttonsBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}
//listing users
.userList{
  column-gap: 2.5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
//footer
.footer{
  font-size: 12px;
  text-align: center;
}
//Destkop only
@media only screen and (min-width: 811px) {
  .list{
    grid-template-columns: repeat(3, 1fr);
  }
  .list-5-col{
    grid-template-columns: repeat(7, 1fr);
  }
  
}
//mobile only
@media only screen and (max-width: 810px) {
  .list,.list-5-col{
    grid-template-columns: repeat(2, 1fr);
  }
}

.controlPnl{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4vw;
  row-gap: 4vw;
  div{
    border:1px solid #212121;
    position: relative;
    span{
      padding: 2vw;
      display: inline-block;
      width: calc(100% - 20px);
      box-sizing: border-box;
    }
  }
  div:after{
    content:'';
    position:absolute;
  }
  div:nth-child(1):after,div:nth-child(3):after{
    right: -3.5vw;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-left: 3vw solid #212121;
    top:2vw;
  }
  div:nth-child(2):after{
    right: calc(50% - 1vw);
    bottom: -3.5vw;
    border-right: 1vw solid transparent;
    border-left: 1vw solid transparent;
    border-top: 3vw solid #212121;
  }
}
