//reset css
a, h1,h2,h3{
  margin:0;
  color:var(--main-font-color);
}
h2{
  margin:2vw 0;
}
ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
a:visited {
  color:var(--main-font-color);
}
.bold{
  font-weight: 600;
}
/*global*/
.centreWrp{
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 811px) {
    height: calc(100vh - (55px + 5vw + 35px));
  }
  @media only screen and (max-width: 810px) {
    height: calc(100vh - (96px + 5vw + 35px));
  }
}

/**header styling**/
.header{
  border-bottom: 1px solid var(--main-font-color);
  padding: 10px 2vw 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h1{
    font-weight: 900;
    font-size: 18px;
    margin: 0;
    flex:1 1 0px;
    span{
      display: block;
      color: var(--primary-color);
      font-size: 15px;
    }
  }
  nav{
    display:flex;
    justify-content: center;
  }
  .linkedin{
    flex:1 1 0px;
    text-align: right;
    img{
      width: 25px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 810px) {
  .header{
    flex-wrap: wrap ;
    nav{
      padding-top:5vw;
      order:3;
      width: 100%;
      justify-content: space-between;
    }
  }
}

//listing image
.list{
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 2vw;
  row-gap:2vw;
  margin: 0px 0px 5vw;
  padding: 0px;
  li{
    border: 1px solid var(--border-grey);
    padding: 10px;  
  }
  img{
    width:100%
  }
}

.list-5-col{
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 0.5vw;
  row-gap: 0.5vw;
  li{
    border:1px solid #212121;
    padding: 1vw;
  }
}

//buttonsBlock
.buttonsBlock{
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 12px;
  column-gap: 0.5vw;
}

@media only screen and (max-width: 810px) {
  .buttonsBlock{
    font-size:14px;
    column-gap: 2vw;
  }
}

//listing users
.userList{
  column-gap: 2.5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

//Destkop only
@media only screen and (min-width: 811px) {
  .list{
    grid-template-columns: repeat(3, 1fr);
  }
  .list-5-col{
    grid-template-columns: repeat(7, 1fr);
  }
  
}
//mobile only
@media only screen and (max-width: 810px) {
  .list,.list-5-col{
    grid-template-columns: repeat(2, 1fr);
  }
}

//footer
.footer{
  font-size: 12px;
  text-align: center;
}

.footerSection{
  background-color: var(--main-font-color);
  display: flex;
  justify-content: space-between;
  padding:10px 2vw;
  p{
    color: #fff;
    margin:0;
  }
}
