.list{
    background-color: #fff;
    display:grid;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px #e5e5e5;
}
.imageBlock{
    img{
        display:block;
        width:100%;
    }
    .imageDetail{
        text-align: left;
        display: flex;
        span{
            font-weight: 700;
            padding-right: 10px;
        }
    }
}
.errorMessage,.loadingMessage{
    font-size: 1.5em;
    font-weight: 700;
}

.buttonsBlock{
    display:inline-grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 2.5vw;
    margin:0 auto 5vw;
    button{
        cursor: pointer;
        min-width:170px;
        border:none;
        padding:12px 3px;
        background-color: #000;
        border:1px solid transparent;
        color:#fff;
        font-weight: 700;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 0.015em;
        transition:all 0.3s ease;
        &:hover{
            background-color: #fff;
            border:1px solid #000;
            color:#000;
        }
    }
}

@media only screen and (min-width: 811px){
    .list{
        grid-template-columns:repeat(4, 1fr);
        column-gap: 2.5vw;
        padding: 2.5vw;
        margin: 2.5vw 0;
    }
}
@media only screen and (max-width: 810px){
    .list{
        grid-template-columns:repeat(2, 1fr);
        column-gap: 5vw;
        padding: 5vw;
        margin: 5vw 0;
    }
}
  